/* typography */
.Roboto {
  font-family: 'Roboto', sans-serif;
}
.Palanquin {
  font-family: 'Palanquin Dark', sans-serif;
}
.Poppins {
  font-family: 'Poppins', sans-serif;
}

/* text alignment */
.text-center {
  text-align: center;
}

/* color template */
.Orange {
  color: orange;
}
.White {
  color: white;
}

/* Font sizes */
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-24 {
  font-size: 24px;
}